/* boilerplate */

html,
button,
input,
select,
textarea { color: #222; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #222; margin: 1em 0; padding: 0; }

/* layout_ */

body {width:100%; margin:0;}

ul,li {margin:0; padding:0; list-style:none;}
a:link, a:visited, a:active {text-decoration:underline;}


/* typography_ */

html { font-size: 1em; line-height: 1.4; font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;}
h1 {font-size:1.8em;}
h2 {font-size:1.2em;}
nav {font-size:1.2em;}
p {font-size:1em;}

/* theme_ */

body {background-color:#222; color:#f8f8f8;}

.viewport {position: fixed; width:1024px; height:600px; background-color:#222;
  top: 50%; left: 50%; margin-top: -300px; margin-left: -512px;}

.viewport:after {
	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	-moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.8);
	box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.8);

	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	content: "";
}
.minimap {position:absolute; bottom:0; left:0; opacity:0.8; background-color:rgba(0,0,0,0.5)}
.currentItem {position:absolute; top:0; left:0; opacity:0.8;}
.currentItem img { width: 100px; height: 100px; border: 2px solid yellow;}


#screen {position:fixed; width:1024px; height:600px; overflow:hidden;}
#screen div {z-index:10;}

.viewport,
#screen,
.minimap {image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	user-select: none;
	-webkit-user-select: none;}

div#floor,
div#ceiling {position:absolute; width:100%; height:100%;}
div#floor {background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #5B5B5B),
	color-stop(1, #0C0F14)
);
background-image: -o-linear-gradient(top, #5B5B5B 0%, #0C0F14 100%);
background-image: -moz-linear-gradient(top, #5B5B5B 0%, #0C0F14 100%);
background-image: -webkit-linear-gradient(top, #5B5B5B 0%, #0C0F14 100%);
background-image: -ms-linear-gradient(top, #5B5B5B 0%, #0C0F14 100%);
background-image: linear-gradient(to top, #5B5B5B 0%, #0C0F14 100%);}
div#ceiling {height:50%; background-color:rgb(210,224,224);}

footer {text-align:center;}

.item {
    border:     2px solid yellow;
}
#description{
    position:   absolute;
    z-index:    100000000000;
    top:        600px;
}
#blood{
    position:   fixed;
    width:      1024px;
    height:     600px;
    top:        50%;
    left:       50%;
    margin-top: -300px;
    margin-left:-512px;
    opacity:    0;
    background-image: url(web/media/blood.jpg);
}





