/* boilerplate */

html,
button,
input,
select,
textarea { color: #222; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #222; margin: 1em 0; padding: 0; }

/* layout_ */

body {
        width:100%;
        margin:0;

}

ul,li {margin:0; padding:0; list-style:none;}
a:link, a:visited, a:active {text-decoration:underline;}


/* typography_ */

html {
    font-size: 1em; line-height: 1.4; font-weight:100;
    font-family: Helvetica, sans-serif;
    text-rendering: optimizeLegibility;}
h1 {font-size:1.8em;}
h2 {font-size:1.2em;}
nav {font-size:1.2em;}
p {font-size:1em;}

/* theme_ */

body {background-color:#222; color:#f8f8f8;}

.viewport {position: fixed; width:1024px; height:600px; background-color:#222;
  top: 50%; left: 50%; margin-top: -300px; margin-left: -512px; overflow:hidden;}

.viewport:after {
	-webkit-box-shadow: inset 0px 0px 150px rgba(0,0,0,0.8);
	-moz-box-shadow:    inset 0px 0px 150px rgba(0,0,0,0.8);
	box-shadow:         inset 0px 0px 150px rgba(0,0,0,0.8);

	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	content: "";
}
#minimap {display:none; position:absolute; bottom:50px; left:50px; background-color:#2b2b29; }
#minimap:after {display:block;content:''; position:absolute; top:-18px; left:-23px;
    width:237px; height:244px; background: transparent url('../../media/images/minimap.png');}

#currentItem {display:none; position:absolute; top:50px; left:50px; width:100px; height:150px;
    background-color:#2b2b29;}
#currentItem img { width: 100px; height: 100px; margin: 0}
#currentItem span {
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0;
}
#currentItem:after {display:block;content:''; position:absolute; top:-20px; left:-23px;
    width:147px; height:173px; background: transparent url('../../media/images/items.png');}

.item { border:8px solid #2b2b29;}

#screen {position:fixed; width:1024px; height:600px; overflow:hidden;}
#screen div {z-index:10;}

.viewport,
#screen,
.minimap,
img {image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	user-select: none;
	-webkit-user-select: none;}

div#floor,
div#ceiling {position:absolute; width:100%; height:100%;}

div#floor {background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #a3ce27),
	color-stop(1, #44891a)
);

background-image: -o-linear-gradient(top, #a3ce27 0%, #44891a 100%);
background-image: -moz-linear-gradient(top, #a3ce27 0%, #44891a 100%);
background-image: -webkit-linear-gradient(top, #a3ce27 0%, #44891a 100%);
background-image: -ms-linear-gradient(top, #a3ce27 0%, #44891a 100%);
background-image: linear-gradient(to top, #a3ce27 0%, #44891a 100%);}
div#ceiling { height:50%; background-color:#31a2f2;}

.skybox {
   height:300px;width:1024px;  
}

footer {text-align:center;}


#description{
    position:   absolute;
    z-index:    100000000000;
    top: 100px;
    left: 340px;
    background-color: #2b2b29;
    color:#afa5a8;
    padding: 5px;
    width: 430px;
    height: 100px;
    font-size: 10px;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    text-align:center;
}

#description:after {display:block;content:''; position:absolute; top:-10px; left:-10px;
    width:456px; height:111px; background: transparent url('../../media/images/messagebox.png') no-repeat;}
#description strong {display:block; color:#e3d9db; font-size: 11px;}

#menu {position: absolute; width: 100%; height:200px; top:300px;
    text-align: center; color:#000;}
#menu h1 {margin-bottom:50px;}
#menu h2  {color:#fff;}
.blink {
    -webkit-animation:blink 0.6s linear infinite;
    -moz-animation:blink 0.6s linear infinite;
    animation:blink 0.6s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}